# Dependencies
node_modules/
.pnp
.pnp.js

# Build / cache
dist/
.next/
out/
*.tsbuildinfo
.turbo

# Env (never commit secrets)
.env
.env.*
!.env.example

# Logs & debug
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# Coverage
coverage/
*.lcov
.nyc_output

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store

# Docker
.docker/

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.key

# Misc
.run
*.pid
*.seed
